{% extends "header.html" %}
<title>{% block tittle %}About Us{% endblock %}</title>

{% block a %}

<div class = "container">
  <div class = "row">
    <div class= "col-md-6 col-xs-12">
      <h1> About us </h1>
      <p>
        QuickIT is a web based and mobile applicatioin  and E-commerce shipping solutions provider,or to put it into simple words, we provide easy-access solution for delivering the product.This company is formed with a mission in mind; that is to provide a simplified delivering platform. we have now thought to  developed an efficient and user-friendly online delivery system, our ethos is to keep the small business mentality and treat each customer with the time and care they deserve.
      </p>


    <h2> F and Q </h2>
      </div>
      </div>

      <div class="row">
      <div class="col-md-6 col-xs-12">
      <h3>What is Quickit?</h3>
      <p> QuickIT an efficient and user-friendly online delivery system, In simple words it is an Uber for delivering an item or the packages.More likely, it is peer to peer delivery service. our ethos is to keep the small business mentality and treat each customer with the time and care they deserved.</p>
      <h3>Story behind QuickIT</h3>
      <p>The story behind the delizy is quite interesting. when founder Kamal Lamsal move to finaland from his home country nepal, he realize that there is slow service of delivering packages in finland and expensive too.So he decided to help the people to get packages or items faster and in a cheaper price.</p>
        <h3> How it works?</h3>
        <p> One can post the item in our application mentioning the details of the packages and the location to be deliverd. Nearby people who is travelling to that place can take the item who is familiar with our app. He is identified by us so there is full secuirty of the packages. </p>
        <h3> Does it works in weekend?</h3>
        <p> Yes, we are working all seven days. New things of our company is we deliver the item in weekends too.</p>
       <h3>Why QuickIT does not take cash?</h3>
       <p> We only take card payments because it lets us provide you with the best possible experience. It creates a safer working environment for operators too. Feel free to tip your courrier in cash.</p>
       <h3>Do I have to tip?</h3>
       <p> Whether you tip or not is completely up to you. You can tip in cash when the operators delivers your items. operators receive 100% of all tips.</p>
      <h3>What if my packages is lost?</h3>
      <p>If your items or packages is lost, our insurance policy will cover it.</p>
      <h3>Do I get to know the location of the packages?</h3>
      <p>Yes, you can see the operators until your packages is deliverd to you.</p>
      </div>
      </div>

    </div>
    <div class= "col-md-6 col-xs-12">
      <h1> Contact info </h1>
      <div class = "row">
        <div class= "col-md-6 contact_box">
            <div class="contact_image">
                <img src="" />
                <p>Kamal</p>
            </div>


        </div>
        <div class= "col-md-6 contact_box">
          <div class="contact_image">
              <img src="" />
                <p>    Rachit</p>
          </div>

        </div>
      </div>  <div class = "row">
          <div class= "col-md-6 contact_box">
            <div class="contact_image">
                <img src="" />
                <p>  Rakesh </p>
            </div>

          </div>
          <div class= "col-md-6 contact_box">
            <div class="contact_image">
                <img src="" />
              <p>  Shalik sapkota </p>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>



    </body>
</html>
{% endblock %}
